.contacts-page {
  max-width: 800px;
  margin: 0 auto;

  &_panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  &_button {
    text-decoration: none;
    color: white;
    background-color: blue;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: rgb(110, 110, 253);
    }
  }
}
